@import url("reset.css");


#MENU {
	width:900px;
	height:217px;
	margin:0 auto;
}
#MENU ul {
	width:900px;
	height:117px;
	float: left;
	margin-top: 100px;
	overflow:hidden;
}
#MENU li {
	float:left;
	margin-right:5px;
	margin-top:40px;
}
#MENU li a {
	display:block;
	width:160px;
	height:117px;
	text-indent:-9999px;	
}
#MENU li.css a {
	background-image:url(../img/menu1.jpg);
}
#MENU li.dreamweaver a {
	background-image:url(../img/menu2.jpg);
}
#MENU li.flash a {
	background-image:url(../img/menu3.jpg);
}




